-div_for comment do
  .avatar
    = image_tag comment.user.avatar_url
  %cite
    = time_ago(comment.created_at).capitalize
    =t "by"
    = link_to comment.user, user_recordings_path(comment.user)
  .message
    = RedCloth.new(comment.comment).to_html
  .clear