-@page_title = title_for(@recording, "new")

:javascript
  function onStreamRecorded( stream )
  {
    $('recording_filename').value = stream.fileName
    $('recording_length').value = stream.length
    $('recording_has_audio').value = stream.hasAudio
    $('recording_has_video').value = stream.hasVideo
  }

#flash
  = swf_object "/flash/dictaphone_recorder.swf?host=#{FMS_HOST}", 380, 320

= render :partial => "form"

= link_to t("back"), recordings_path