@import "screen_reset.css";

/* === General Layout === */

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size:   13px;
  line-height: 18px;
  background: #222222;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}


a { color: #000; }
a:hover { color: #fff; background-color:#000; }

h1 {
  font-family: "Gill Sans","Trebuchet MS", Helvetica, Arial, sans-serif;
  padding-bottom: 10px;
  font-size: 27px;
}

h1 a, 
h1 a:hover {
  text-decoration: none;
}

label {
  font-weight: bold;
}

/* === Header === */

div#header {
  border-bottom: 4px solid #E0E0E0;
}
div#header h1 {
	float:left;
}
div#header div#user_info {
  float: right;
}

div#menu {
  margin-bottom: 10px;
  border-bottom: 4px solid #E0E0E0;
}
div#menu li {
  float: left;
  text-transform: uppercase;
  padding: 10px;
  border-right: 1px solid #EEE;
}
div#menu li.first {
  border-left: 1px solid #EEE;
}

/* === All Content === */

/*#content {
  border-bottom: 4px solid #E0E0E0;
  margin-bottom: 15px;
}*/

#content h1 {
  font-family: "Gill Sans", "Trebuchet MS",Helvetica, Arial, sans-serif;
  font-size: 24px;
  padding-bottom: 0;
  line-height: 1.2;
}

strong {
	font-weight: bold;
}

div#site {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 10px;
	width: 700px;
	background: white;
	padding: 20px;
}

div.recording {
	float:left;
	padding: 10px 18px 10px 0;
}

div.recording img {
  border: 1px solid white;
}
div.recording img:hover {
  border: 1px solid black;
}

#embed_code {
  width: 257px;
  font-size: 9px;
}

#new_comment textarea {
  height: 100px;
}

div.comment {
  background: #EEE;
  padding: 10px;
  margin-bottom: 10px;
}

div.comment div {
  margin-right: 10px;
}

div.comment div.avatar {
  float: left;
  width: 80px;
  height: 80px;
}

div.comment div.message {
  width: 470px;
  float: left;
}

div.comment cite {
  color: gray;
}

/* === Footer === */

#footer a:hover {
  background-color: inherit;
}

#footer * {
  float: left;
}

#footer p {
  margin-top: 32px;
}

/* === Flash Messages === */

div.flash_message {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid;
	padding: 5px;
}

div.flash_message#notice {
	background: #d0efc0;
	border-color: #6abf3d;
}

div.flash_message#error {
	background: #e5b8b8;
	border-color: #b74343;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* === ActiveRecord Errors === */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/* === Hax === */

.clear {
  clear:both;
}

.left {
  float: left;
}