- @page_title = "Welcome"
%p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae purus id leo dapibus rhoncus. Proin non est sit amet   dui mollis rutrum. Phasellus sed lectus. Quisque eu felis. Aliquam placerat, magna in sagittis imperdiet, tortor felis feugiat libero, in suscipit eros neque at tellus. Curabitur vestibulum condimentum est. Proin tempor turpis ac lorem. Maecenas faucibus, dui vel malesuada hendrerit, magna tortor ultrices massa, eget semper arcu sem non mauris.
%p Nunc felis leo, iaculis nec, euismod id, facilisis non, eros. Proin sed nulla quis orci dapibus tristique. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla libero ante, vehicula et, rutrum quis, euismod quis, urna.

%h1 Latest Recordings
= render @recordings