%p
  Site code at
= link_to image_tag("github.png", :style => "margin-top: 8px; margin-left: 2px"), "http://github.com/dbackeus/gonzobahn"
%p
  No copyright through
= link_to image_tag("kopimi.gif", :style => "margin-top: 5px"), "http://kopimi.se/kopimi/"
%p
  Kindly powered by
= link_to image_tag("glesys.gif", :style => "margin-top: 17px; margin-left: 8px"), "http://glesys.se"